@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lora';
  src: url('../../public/fonts/LoraR.ttf');
}

.backgroundHome
{
  background-image: url('../../public/img/background2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
